<mat-tab-group mat-align-tabs="start" backgroundColor="primary" >
  <mat-tab label="History" class="table1" > <mat-grid-list cols="2" rowHeight="2:1">
    <mat-list class="list">
      <mat-list-item matRipple class="item" routerLink="/home/admin-feedback-history"><img class="card-img-top " width="200px" src="https://static01.nyt.com/images/2019/04/16/sports/16onsoccerweb-2/merlin_153612873_5bb119b9-8972-4087-b4fd-371cab8c5ba2-superJumbo.jpg?quality=75&auto=webp" alt="Card image cap" > <p class="para">vikram</p></mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item matRipple class="item" routerLink="/home/admin-feedback-history"><img class="card-img-top " width="200px" src="https://static01.nyt.com/images/2019/04/16/sports/16onsoccerweb-2/merlin_153612873_5bb119b9-8972-4087-b4fd-371cab8c5ba2-superJumbo.jpg?quality=75&auto=webp" alt="Card image cap" > <p class="para">vikram</p></mat-list-item>
      <mat-divider ></mat-divider>
      <mat-list-item matRipple class="item" routerLink="/home/admin-feedback-history"><img class="card-img-top " width="200px" src="https://static01.nyt.com/images/2019/04/16/sports/16onsoccerweb-2/merlin_153612873_5bb119b9-8972-4087-b4fd-371cab8c5ba2-superJumbo.jpg?quality=75&auto=webp" alt="Card image cap" > <p class="para">vikram</p></mat-list-item>
      <mat-divider ></mat-divider>
    </mat-list>
  <mat-tab label="Review admin-feedback" class="table1" >  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-list class="list">
      <mat-list-item matRipple class="item" routerLink="/home/admin-feedback"><img class="card-img-top " width="200px" src="https://static01.nyt.com/images/2019/04/16/sports/16onsoccerweb-2/merlin_153612873_5bb119b9-8972-4087-b4fd-371cab8c5ba2-superJumbo.jpg?quality=75&auto=webp" alt="Card image cap" > <p class="para">vikram</p></mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item matRipple class="item" routerLink="/home/admin-feedback"><img class="card-img-top " width="200px" src="https://static01.nyt.com/images/2019/04/16/sports/16onsoccerweb-2/merlin_153612873_5bb119b9-8972-4087-b4fd-371cab8c5ba2-superJumbo.jpg?quality=75&auto=webp" alt="Card image cap" > <p class="para">vikram</p></mat-list-item>
      <mat-divider ></mat-divider>
      <mat-list-item matRipple class="item" routerLink="/home/admin-feedback"><img class="card-img-top " width="200px" src="https://static01.nyt.com/images/2019/04/16/sports/16onsoccerweb-2/merlin_153612873_5bb119b9-8972-4087-b4fd-371cab8c5ba2-superJumbo.jpg?quality=75&auto=webp" alt="Card image cap" > <p class="para">vikram</p></mat-list-item>
      <mat-divider ></mat-divider>
    </mat-list>
