<div class="bd">
<p>
  <mat-toolbar color="primary" class="toll">
   
    <span class="att">Overall</span>
    <span class="example-spacer"></span>
    
  </mat-toolbar>
</p>
<h2 class="head">Academic Year</h2>
<mat-form-field appearance="fill" class="select">
    <mat-label>Select the year</mat-label>
    <mat-select disableRipple>
      <mat-option value="1">2022 - 2023</mat-option>
      <mat-option value="2">2023 - 2024</mat-option>
      <mat-option value="3">2024 - 2025</mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-card class="card">
    <mat-card-title class="title">Total Enquiry Received</mat-card-title>
    <mat-card-subtitle class="sub">1554</mat-card-subtitle>
   
  </mat-card>
  <br>
  <mat-card class="card">
    <mat-card-title class="title">Enquiry Today</mat-card-title>
    <mat-card-subtitle class="sub">5</mat-card-subtitle>
   
  </mat-card>
</div>