<div class="login-box">
  <h2>FORGOT PASSWORD</h2>
  <form>
    <mat-form-field [style.width.px]=300 appearance="standard">
      <mat-label> <mat-icon class="icon">mail</mat-icon>Enter your email</mat-label>
      <input matInput placeholder="" class="input" [formControl]="email" required>
      <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
    <input type="submit" routerLink="/otp" value="Submit" class="submit-btn"/>
    <input type="submit" routerLink="/login" value="Back" class="submit-btn1"/>
</form>

