<p>
  <mat-toolbar color="primary" class="toll">
   
    <span class="att">Pending List</span>
    <span class="example-spacer"></span>
    
  </mat-toolbar>
</p>
<mat-list class="list">
<mat-card   class="item" routerLink="/home/review-leave-request" ><img class="card-img-top " width="200px"  src="https://static01.nyt.com/images/2019/04/16/sports/16onsoccerweb-2/merlin_153612873_5bb119b9-8972-4087-b4fd-371cab8c5ba2-superJumbo.jpg?quality=75&auto=webp" alt="Card image cap" > <p class="para">vikram S<br>Software Developer<br>Applied for Casual Leave</p></mat-card>
  
  <mat-divider></mat-divider>
  <mat-card class="item" routerLink="/home/review-leave-request"><img class="card-img-top " width="200px" src="https://static01.nyt.com/images/2019/04/16/sports/16onsoccerweb-2/merlin_153612873_5bb119b9-8972-4087-b4fd-371cab8c5ba2-superJumbo.jpg?quality=75&auto=webp" alt="Card image cap" > <p class="para">Kishore L<br>System Developer<br>Applied for Medical Leave</p></mat-card>
  <mat-divider ></mat-divider>
  <mat-card  class="item" routerLink="/home/review-leave-request"><img class="card-img-top " width="200px" src="https://static01.nyt.com/images/2019/04/16/sports/16onsoccerweb-2/merlin_153612873_5bb119b9-8972-4087-b4fd-371cab8c5ba2-superJumbo.jpg?quality=75&auto=webp" alt="Card image cap" > <p class="para">Samuel M<br>Graphics Designer<br>Applied for Casual Leave</p></mat-card>
  <mat-divider ></mat-divider>
</mat-list>