<div class="bd">
<mat-card class="example-card card mat-elevation-z5">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image "></div>
      <img mat-card-image class="img" src="/assets/images/thumb.png" alt="Photo" class="img">
      <div class="head"><mat-card-title class="name">L.Kishore</mat-card-title>
      <mat-card-subtitle class="reg">20ITR021</mat-card-subtitle>
      <mat-card-content  class="para">
        <p>Student</p>
        <p>
         IT DEPARTMENT <br>
         FRANCIS XAVIER ENGINEERING COLLEGE
        </p> 
      </mat-card-content></div>
    </mat-card-header>
  </mat-card>
  <mat-card class="card mat-elevation-z5">
  <div class="details">
  <h3><mat-icon> assignment_ind </mat-icon>Register Number</h3>
  <h4>9507015021</h4>
  <h3><mat-icon> class </mat-icon>Admission class</h3>
  <h4>X-II</h4>
  <h3><mat-icon> date_range </mat-icon>Date of Birth</h3>
  <h4>04 APR,2007</h4>
  </div>
  
  <div class="details1">
  <h3><mat-icon> calendar_today </mat-icon>Academic Year</h3>
  <h4>2020-2021</h4>
  <h3><mat-icon> how_to_reg </mat-icon>Admission Number</h3>
  <h4>014567</h4>
  <h3><mat-icon> bookmark_border </mat-icon>Marks</h3>
  <h4>75%</h4>
  </div>
  
  <div class="details2">
  <h3><mat-icon> mail_outline </mat-icon>Email</h3>
  <h4>kishore@gmail.com</h4>
  <h3><mat-icon> stay_current_portrait </mat-icon>Phone No</h3>
  <h4>9745673245</h4>
  </div>
  </mat-card>
</div>