<p>
  <mat-toolbar color="primary" class="toll">

    <span class="att">Hstory</span>
    <span class="example-spacer"></span>

  </mat-toolbar>
</p>
<div class="content">
  <div class="c1">
    <mat-card class="example-card mat-elevation-z5">
      <mat-card-title class="title">Applied for Casual Leave</mat-card-title>
      <mat-card-content>
        <p class="p1">Duration</p>
        <p class="p2">1 day(s)</p>
        <p class="p1">Date</p>
        <p class="p2">Oct 02,2022</p>
        <p class="p1">Status</p>
        <p class="p2">Approved</p>
        <mat-icon matRipple class="icon">info</mat-icon>
        <div class="re">
          <p class="p1">Reason</p>
          <p class="p2">Personal Work</p>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="c2">
    <mat-card class="example-card mat-elevation-z5">
      <mat-card-title class="title">Applied for Casual Leave</mat-card-title>
      <mat-card-content>
        <p class="p1">Duration</p>
        <p class="p2">1 day(s)</p>
        <p class="p1">Date</p>
        <p class="p2">Oct 02,2022</p>
        <p class="p1">Status</p>
        <p class="p2">Approved</p>
        <mat-icon matRipple class="icon">info</mat-icon>
        <div class="re">
          <p class="p1">Reason</p>
          <p class="p2">Personal Work</p>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="c3">
    <mat-card class="example-card mat-elevation-z5">
      <mat-card-title class="title">Applied for Casual Leave</mat-card-title>
      <mat-card-content>
        <p class="p1">Duration</p>
        <p class="p2">1 day(s)</p>
        <p class="p1">Date</p>
        <p class="p2">Oct 02,2022</p>
        <p class="p1">Status</p>
        <p class="p2">Approved</p>
        <mat-icon matRipple class="icon">info</mat-icon>
        <div class="re">
          <p class="p1">Reason</p>
          <p class="p2">Personal Work</p>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="c4">
    <mat-card class="example-card mat-elevation-z5">
      <mat-card-title class="title">Applied for Casual Leave</mat-card-title>
      <mat-card-content>
        <p class="p1">Duration</p>
        <p class="p2">1 day(s)</p>
        <p class="p1">Date</p>
        <p class="p2">Oct 02,2022</p>
        <p class="p1">Status</p>
        <p class="p2">Approved</p>
        <mat-icon matRipple class="icon">info</mat-icon>
        <div class="re">
          <p class="p1">Reason</p>
          <p class="p2">Personal Work</p>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>