<!-- <mat-card class="title mat-elevation-z7">
<h3>Forgotpassword</h3>
<form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Email</mat-label>
      <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
             placeholder="Ex. google@example.com">
      <mat-hint>Errors appear instantly!</mat-hint>
      <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </form>
  <button mat-raised-button color="warn">Submit</button>
</mat-card> -->

<div class="login-box">
  <h2>FORGOT PASSWORD</h2>
  <form>
    
      <mat-form-field class="ema" >
      <mat-label>Email</mat-label>
      <input matInput placeholder="" class="inp">
    </mat-form-field>
  
   <div class="sub">
        <a href="#" class="sub">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      Submit
    </a>
   </div>
   <div class="back"><a mat-button href="" target="login">BACK </a></div>
  </form>
</div>

