<h3 class="head">LEAVE PENDING LIST</h3>
          <mat-accordion class="accor">
            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header style="display: inline;">
                <!-- <mat-panel-title class="panel"> -->
                  <div class="lpl-container">
                    <div>
                      <img class="card-img-top " width="200px"
                      src="https://static01.nyt.com/images/2019/04/16/sports/16onsoccerweb-2/merlin_153612873_5bb119b9-8972-4087-b4fd-371cab8c5ba2-superJumbo.jpg?quality=75&auto=webp"
                      alt="Card image cap">
                    </div>
                   
                    <div> <p class="para">vikram.s</p> 
                      <p >web developer</p>
                    <p > 06-May-2022</p>
                    </div>   
                  
                  </div>
                  <mat-chip color="primary" class="chips" selected>Permission</mat-chip>
          
              </mat-expansion-panel-header>
              <p><mat-icon class="info">info</mat-icon> Reason: Personal work</p>
              <p><mat-icon class="info">schedule</mat-icon> Applied on: june 15 2022</p>
            </mat-expansion-panel>
          </mat-accordion>
          <br>
          <mat-accordion class="accor">
            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header style="display: inline;">
                <!-- <mat-panel-title class="panel"> -->
                  <div class="lpl-container">
                    <div>
                      <img class="card-img-top " width="200px"
                      src="https://static01.nyt.com/images/2019/04/16/sports/16onsoccerweb-2/merlin_153612873_5bb119b9-8972-4087-b4fd-371cab8c5ba2-superJumbo.jpg?quality=75&auto=webp"
                      alt="Card image cap">
                    </div>
                   
                    <div> <p class="para">vikram.s</p> 
                      <p >web developer</p>
                    <p > 06-May-2022</p>
                    </div>   
                  
                  </div>
                  <mat-chip color="primary" class="chips" selected>Permission</mat-chip>
          
              </mat-expansion-panel-header>
              <p><mat-icon class="info">info</mat-icon> Reason: Personal work</p>
              <p><mat-icon class="info">schedule</mat-icon> Applied on: june 15 2022</p>
            </mat-expansion-panel>
          </mat-accordion><br>
          <mat-accordion class="accor">
            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header style="display: inline;">
                <!-- <mat-panel-title class="panel"> -->
                  <div class="lpl-container">
                    <div>
                      <img class="card-img-top " width="200px"
                      src="https://static01.nyt.com/images/2019/04/16/sports/16onsoccerweb-2/merlin_153612873_5bb119b9-8972-4087-b4fd-371cab8c5ba2-superJumbo.jpg?quality=75&auto=webp"
                      alt="Card image cap">
                    </div>
                   
                    <div> <p class="para">vikram.s</p> 
                      <p >web developer</p>
                    <p > 06-May-2022</p>
                    </div>   
                  
                  </div>
                  <mat-chip color="primary" class="chips" selected>Permission</mat-chip>
          
              </mat-expansion-panel-header>
              <p><mat-icon class="info">info</mat-icon> Reason: Personal work</p>
              <p><mat-icon class="info">schedule</mat-icon> Applied on: june 15 2022</p>
            </mat-expansion-panel>
          </mat-accordion>
          <br>
          <mat-accordion class="accor">
            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header style="display: inline;">
                <!-- <mat-panel-title class="panel"> -->
                  <div class="lpl-container">
                    <div>
                      <img class="card-img-top " width="200px"
                      src="https://static01.nyt.com/images/2019/04/16/sports/16onsoccerweb-2/merlin_153612873_5bb119b9-8972-4087-b4fd-371cab8c5ba2-superJumbo.jpg?quality=75&auto=webp"
                      alt="Card image cap">
                    </div>
                   
                    <div> <p class="para">vikram.s</p> 
                      <p >web developer</p>
                    <p > 06-May-2022</p>
                    </div>   
                  
                  </div>
                  <mat-chip color="primary" class="chips" selected>Permission</mat-chip>
          
              </mat-expansion-panel-header>
              <p><mat-icon class="info">info</mat-icon> Reason: Personal work</p>
              <p><mat-icon class="info">schedule</mat-icon> Applied on: june 15 2022</p>
            </mat-expansion-panel>
          </mat-accordion>
          <br>
          <mat-accordion class="accor">
            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header style="display: inline;">
                <!-- <mat-panel-title class="panel"> -->
                  <div class="lpl-container">
                    <div>
                      <img class="card-img-top " width="200px"
                      src="https://static01.nyt.com/images/2019/04/16/sports/16onsoccerweb-2/merlin_153612873_5bb119b9-8972-4087-b4fd-371cab8c5ba2-superJumbo.jpg?quality=75&auto=webp"
                      alt="Card image cap">
                    </div>
                   
                    <div> <p class="para">vikram.s</p> 
                      <p >web developer</p>
                    <p > 06-May-2022</p>
                    </div>   
                  
                  </div>
                  <mat-chip color="primary" class="chips" selected>Permission</mat-chip>
          
              </mat-expansion-panel-header>
              <p><mat-icon class="info">info</mat-icon> Reason: Personal work</p>
              <p><mat-icon class="info">schedule</mat-icon> Applied on: june 15 2022</p>
            </mat-expansion-panel>
          </mat-accordion>
          <br>
          <mat-accordion class="accor">
            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header style="display: inline;">
                <!-- <mat-panel-title class="panel"> -->
                  <div class="lpl-container">
                    <div>
                      <img class="card-img-top " width="200px"
                      src="https://static01.nyt.com/images/2019/04/16/sports/16onsoccerweb-2/merlin_153612873_5bb119b9-8972-4087-b4fd-371cab8c5ba2-superJumbo.jpg?quality=75&auto=webp"
                      alt="Card image cap">
                    </div>
                   
                    <div> <p class="para">vikram.s</p> 
                      <p >web developer</p>
                    <p > 06-May-2022</p>
                    </div>   
                  
                  </div>
                  <mat-chip color="primary" class="chips" selected>Permission</mat-chip>
          
              </mat-expansion-panel-header>
              <p><mat-icon class="info">info</mat-icon> Reason: Personal work</p>
              <p><mat-icon class="info">schedule</mat-icon> Applied on: june 15 2022</p>
            </mat-expansion-panel>
          </mat-accordion>
          <br>
          <mat-accordion class="accor">
            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header style="display: inline;">
                <!-- <mat-panel-title class="panel"> -->
                  <div class="lpl-container">
                    <div>
                      <img class="card-img-top " width="200px"
                      src="https://static01.nyt.com/images/2019/04/16/sports/16onsoccerweb-2/merlin_153612873_5bb119b9-8972-4087-b4fd-371cab8c5ba2-superJumbo.jpg?quality=75&auto=webp"
                      alt="Card image cap">
                    </div>
                   
                    <div> <p class="para">vikram.s</p> 
                      <p >web developer</p>
                    <p > 06-May-2022</p>
                    </div>   
                  
                  </div>
                  <mat-chip color="primary" class="chips" selected>Permission</mat-chip>
          
              </mat-expansion-panel-header>
              <p><mat-icon class="info">info</mat-icon> Reason: Personal work</p>
              <p><mat-icon class="info">schedule</mat-icon> Applied on: june 15 2022</p>
            </mat-expansion-panel>
          </mat-accordion>
          <br>
          <mat-accordion class="accor">
            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header style="display: inline;">
                <!-- <mat-panel-title class="panel"> -->
                  <div class="lpl-container">
                    <div>
                      <img class="card-img-top " width="200px"
                      src="https://static01.nyt.com/images/2019/04/16/sports/16onsoccerweb-2/merlin_153612873_5bb119b9-8972-4087-b4fd-371cab8c5ba2-superJumbo.jpg?quality=75&auto=webp"
                      alt="Card image cap">
                    </div>
                   
                    <div> <p class="para">vikram.s</p> 
                      <p >web developer</p>
                    <p > 06-May-2022</p>
                    </div>   
                  
                  </div>
                  <mat-chip color="primary" class="chips" selected>Permission</mat-chip>
          
              </mat-expansion-panel-header>
              <p><mat-icon class="info">info</mat-icon> Reason: Personal work</p>
              <p><mat-icon class="info">schedule</mat-icon> Applied on: june 15 2022</p>
            </mat-expansion-panel>
          </mat-accordion>
          <br>
          <mat-accordion class="accor">
            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header style="display: inline;">
                <!-- <mat-panel-title class="panel"> -->
                  <div class="lpl-container">
                    <div>
                      <img class="card-img-top " width="200px"
                      src="https://static01.nyt.com/images/2019/04/16/sports/16onsoccerweb-2/merlin_153612873_5bb119b9-8972-4087-b4fd-371cab8c5ba2-superJumbo.jpg?quality=75&auto=webp"
                      alt="Card image cap">
                    </div>
                   
                    <div> <p class="para">vikram.s</p> 
                      <p >web developer</p>
                    <p > 06-May-2022</p>
                    </div>   
                  
                  </div>
                  <mat-chip color="primary" class="chips" selected>Permission</mat-chip>
          
              </mat-expansion-panel-header>
              <p><mat-icon class="info">info</mat-icon> Reason: Personal work</p>
              <p><mat-icon class="info">schedule</mat-icon> Applied on: june 15 2022</p>
            </mat-expansion-panel>
          </mat-accordion>
          <br>