<body class="bd">
  <div class="container">
    <div class="item" routerLink="/home/enquiryform">
        <mat-card class="container-card">
              <div class="img-container mat-elevation-z7">
                <button class="raised" mat-raised-button color="primary"><img class="rad" mat-card-lg-image src="https://media.istockphoto.com/illustrations/admission-concept-on-keyboard-button-3d-rendering-illustration-id675073328" alt=""></button>
              </div>
              <h4 class="AE">Admission Entry</h4>
        </mat-card>
    </div>
    <div class="item" routerLink="/home/overall">
      <mat-card class="container-card">
            <div class="img-container mat-elevation-z7">
              <button class="raised" mat-raised-button color="primary"><img class="rad" mat-card-lg-image src="https://media.istockphoto.com/illustrations/admission-concept-on-keyboard-button-3d-rendering-illustration-id675073328" alt=""></button>
            </div>
            <h4 class="AE">Overall</h4>
      </mat-card>
  </div>
    <div class="item" routerLink="/home/admissionreport">
        <mat-card class="container-card">
              <div class="img-container mat-elevation-z7">
                <button class="raised" mat-raised-button color="accent"><img  class="rad" mat-card-lg-image  src="https://media.istockphoto.com/id/1215604318/vector/vector-illustration-of-a-student-studying.webp?s=612x612&w=is&k=20&c=jFwnDIdMkUMNRL0N4APyh829_lGtzSz6p9oh9cWsWbY=" alt=""></button>
              </div>
              <h4 class="AE">Admission Report</h4>
        </mat-card>
    </div>
</div>
<router-outlet></router-outlet>
</body>