<div class="login-box">
    <h2>OTP</h2>
    <form>
      
      <mat-form-field [style.width.px]=300 appearance="standard">
        <mat-label><mat-icon class="icon">lock_open</mat-icon>Enter Your OTP *</mat-label>
        <input matInput placeholder="" class="input" >
      </mat-form-field>
    
      <input type="submit" routerLink="/resetpassword" value="Submit" class="submit-btn"/>
     <input type="submit" routerLink="/forgotpassword" value="Back" class="submit-btn1"/>
    </form>
  </div>
  
  